{%extends 'users/layout.html'%}
{% load static%}
{%block body%}
<link rel="stylesheet" href="{% static 'users/styles.css'%}">
<div class="whole">
<h1>Enter your username and password</h1>
<form action="{% url 'users:index'%}" method="post" class="form">
    {%csrf_token%}
    <input type="username" name="username" class="username" placeholder="username">
    <input type="password" name="password" class="password" placeholder="password">
    <input type="submit" name="submit" class="btn">
</form>
{%if message%}
<p class="message">{{message}}</p>
{%endif%}
</div>
{%endblock%}