{%extends "shop/layout.html"%}
{%load static%}
{%block body%}
<link href="{%static 'shop/cart.css'%}" rel="stylesheet">
<div class="container">
    <div class="user">
CART of {{user}}
    </div>
    <div class="cart_item">
{%for p in owned%}

        <a href="{%url 'shop:buy' p.product.id%}">
<li>{{p.product.name}}
            <h5 class="price">{{p.product.price}}</h5>
    <img src="{{p.product.product_image.url}}"/>
    <form action="{%url 'shop:removefromCart' p.id%}" class="remove_btn">
        <button type="submit" >remove form cart</button>
    </form>
</li>
        </a>
{%empty%}
<li>No elements to show</li>
        </div>
{%endfor%}
    <h1 class="total"></h1>
    </div>

<style>
img{
    width: 10em;
    margin-left: auto;
    margin-right: 3em;
    display: block;
}
button{
padding: 10px;
background: blue;
color: white;
}

.price{
display: inline-block;
position: relative;
left: 20em;
}

li{
list-style: none;
}
</style>

{%endblock%}